
 <!--  <head>
    <title>Harvest | Welcome back, <%= me.fname %> <%= me.lname %>!</title>
    
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      me: <%- JSON.stringify(me) %>
    };
    </script>
  </head>
  <body ng-app="DashboardModule" ng-cloak> -->

    <!-- <div class="navbar-wrapper">
        <div class="container">
          <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="navbar-header">
              <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
                  <a class="navbar-brand" href="#" id="brandSection"><h2 id="logoText" class="pull-left">Harvest</h2><img id="logo" class="pull-right" src="/images/Logo.png" alt="Harvest Logo"></a>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Your Farm
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">View Farm Details</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Orchard Blocks</a></li>
                    <li><a href="#">Crop Types</a></li>
                      <li><a href="#">Irrigation Types</a></li>
                      <li><a href="#">Cultivation Frequencies</a></li>
                      <li><a href="#">Yield Measurement Types</a></li>
                      <li><a href="#">View Heat Map</a></li>
                      <li class="divider"></li>
                    </ul>
                </li>
                    <li class="dropdown">
                    <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Your Workers
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">View Workers</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View Worker-Foreman Assignments</a></li>
                      <li class="divider"></li>
                    </ul>
                </li>
                    <li class="dropdown">
                    <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Your Foremen
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">View Foremen</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View Foreman-Orchard Block Allocations</a></li>
                  <li><a href="#">Manage Foremen Shifts</a></li>
                      <li class="divider"></li>
                    </ul>
                </li>       
                    <li class="dropdown">
                    <a class="active dropdown-toggle" data-toggle="dropdown" href="#">Reports
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Worker Performance</a></li>
                    <li><a href="#">Crop Yield per Orchard</a></li>
                    <li class="divider"></li>
                  <li><a href="#">Seasonal Yield Revenue</a></li>
                  <li><a href="#">Time Taken to Cultivate Specific Crops</a></li>
                      <li class="divider"></li>
                    </ul>
                </li>            
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a></li>
                    <li><a href="/logout" id="btnLogOut"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                  </ul>
              </div>
          </div>                    
      </div><!-- /container -->
    </div> --><!-- /navbar wrapper -->
    <div class="container">
      <div class="row jumbo">
        <div class="col-md-10 col-md-offset-1">
          <div class="jumbotron">
            <fieldset>
              <legend>Your Farm's Details</legend>
              <label for="fname">Farmer's Name</label><br>
              <label class="info"><%= me.fname %> <%= me.lname %></label><br>

              <% if (typeof me.farm.name != "undefined") { %>
                <label for="lname">Farm Name</label><br>
                <label class="info"><%= me.farm.name %></label><br>
              <% } %>  

              <% if (typeof me.farm.cropType != "undefined") { %>
                  <%if (me.farm.cropType.length == 1) { %>
                    <label for="lname">Crop Type</label><br> 
                  <% } else { %>
                    <label for="lname">Crop Types</label><br>
                  <% } %>
                <label class="info">Coming Soon</label><br>
              <% } %>          

              <label for="username">Listed Orchards</label><br>
                <div ng-controller="DashboardController" id="tableContainer">
                  <table class="table table-bordered">
                  <th>#</th>
                  <th>Orchard Block Name</th>
                  <!-- <th>Soil Type</th> -->                  
                    <!--<tr ng-repeat="x in orchardBlock">
                      <td>{{ $index + 1 }}.</td>
                      <td>{{ x.Name }}</td>-->
                    <tr>
                      <td colspan="2">Coming Soon</td>
                      <!-- <td>{{ x.Description }}</td> -->                      
                    </tr>
                  </table>
                </div>
                <br/>           
                <!--<button class="btn">Create New Orchard Block</button>-->
                <a href="/farm/edit" class="btn">Edit Farm</a>
              </fieldset>
          </div>
        </div>
      </div>
    </div>
  </body>
