    <div class="container">
      <div class="row jumbo">
        <div class="col-md-10 col-md-offset-1">
          <div class="jumbotron">
            <fieldset>
              <legend>Your Farm's Details</legend>
              <label for="fname">Farmer's Name</label><br>
              <label class="info"><%= me.fname %> <%= me.lname %></label><br>

              <% if (typeof me.farm.name != "undefined" && me.farm.name != "") { %>
                <label for="lname">Farm Name</label><br>
                <label class="info"><%= me.farm.name %></label><br>
              <% } %>  
              
              <label for="lname">Registered Farm Name</label><br>
              <label class="info"><%= me.farm.registeredFarmName %></label><br>

              <% if (typeof me.farm.companyName != "undefined" && me.farm.companyName != "") { %>
                <label for="lname">Company Name</label><br>
                <label class="info"><%= me.farm.companyName %></label><br>              
              <% } %>           

              <% if (typeof me.farm.size != "undefined" && me.farm.size != 0) { %>
                <label for="lname">Farm Size</label><br>
                <label class="info"><%= me.farm.size %></label><br>
              <% } %>
              
              <label for="lname">Province</label><br>
              <label class="info"><%= me.farm.province %></label><br>              

              <% if (typeof me.farm.region != "undefined" && me.farm.region != "") { %>
                <label for="lname">Region</label><br>
                <label class="info"><%= me.farm.region %></label><br>
              <% } %>
              
              <label for="lname">Farming Region</label><br>
              <label class="info"><%= me.farm.farmingRegion %></label><br>                          

              <% if (typeof me.farm.portionNumber != "undefined" && me.farm.portionNumber != "") { %>
                <label for="lname">Portion Number</label><br>
                <label class="info"><%= me.farm.portionNumber %></label><br>
              <% } %>                          

              <!--<% if (typeof me.farm.cropType != "undefined") { %>
                  <%if (me.farm.cropType.length == 1) { %>
                    <label for="lname">Crop Type</label><br> 
                  <% } else { %>
                    <label for="lname">Crop Types</label><br>
                  <% } %>
                <label class="info">Coming Soon</label><br>
              <% } %>  -->        

              <!--<label for="username">Listed Orchards</label><br>
                <div ng-controller="DashboardController" id="tableContainer">
                  <table class="table table-bordered">
                  <th>#</th>
                  <th>Orchard Block Name</th>
                  <!-- <th>Soil Type</th> >                  
                    <!--<tr ng-repeat="x in orchardBlock">
                      <td>{{ $index + 1 }}.</td>
                      <td>{{ x.Name }}</td>>
                    <tr>
                      <td colspan="2">Coming Soon</td>
                      <!-- <td>{{ x.Description }}</td> >                      
                    </tr>
                  </table>
                </div>-->
                <br/>          
                <!--<button class="btn">Create New Orchard Block</button>-->
                <a href="/farm/edit" class="btn">Edit Farm</a>
              </fieldset>
          </div>
        </div>
      </div>
    </div>
  </body>
