<div class="container" ng-app="YieldTypeModule" ng-controller="YieldTypeController">
    <div class="row jumbo">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron">                
                    <form ng-submit="submitNew()" name="frmCreateYieldType" id="frmCreateYieldType">                        
                        <fieldset>  
                            <legend>New Yield Measurement Type</legend>                        

                            <label for="orchid">Orchid Block linked to Yield Measurement Type</label>
                            <select class="form-control" name="orchid" id="orchid" ng-model="createYieldTypeFrm.orchid">
                                <option value="" disabled>Select Orchid Block</option>                                
                                <% _.each(data.orchid, function(orchid) { %>
                                    <option value="<%= orchid.id %>"><%= orchid.name %></option> 
                                <% }) %>                                
                            </select>
                            <span class="errorText" ng-show="frmCreateYieldType.orchid.$dirty && frmCreateYieldType.orchid.$error.required">Required!</span>                                                        
                            <br/>

                            <label for="yieldType">Yield Measurement Type</label>
                            <select class="form-control" name="yieldType" id="yieldType" ng-change="indexChanged()" ng-model="createYieldTypeFrm.yieldType">
                                <option value="" disabled>Select Yield Measurement Type</option>                                
                                <% _.each(data.type, function(type) { %>
                                    <option value="<%= type.id %>"><%= type.name %></option> 
                                <% }) %>
                                <option value="New">Create New Yield Measurement Type</option>
                            </select>
                            <span class="errorText" ng-show="frmCreateYieldType.yieldType.$dirty && frmCreateYieldType.yieldType.$error.required">Required!</span>                                                        
                            <br/>

                            <!-- Only show this input when a new yield type needs to be added -->
                            <div ng-show="createNew">
                                <label for="newYieldType">New Yield Measurement Type</label>
                                <input class="form-control" type="text" name="newYieldType" id="newYieldType" ng-model="createYieldTypeFrm.newYieldType" placeholder="Mango" required>
                                <span class="errorText" ng-show="frmCreateYieldType.newYieldType.$dirty && frmCreateYieldType.newYieldType.$error.required">Required!</span>                                                         
                                <br/>
                            </div>                           											

                            <!-- Disable signup button until the form has no errors -->
                            <button type="submit" class="btn" ng-disabled="frmCreateYieldType.$invalid">
                                <span ng-show="!createYieldTypeFrm.loading">Add Yield Measurement Type</span>
                                <span class="overlord-loading-spinner fa fa-spinner" ng-show="createYieldTypeFrm.loading"></span>
                                <span ng-show="createYieldTypeFrm.loading">Adding Your Yield Measurement Type...</span>
                            </button>

                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
						</fieldset>
					</form>
				</div>																		
			</div>
		</div>
	</div>
</div>